[submodule "MandrilAPI"]
	path = MandrilAPI
	url = https://github.com/eyagovbusiness/MandrilAPI
	branch = integration
[submodule "TheGoodFramework"]
	path = TheGoodFramework
	url = https://github.com/eyagovbusiness/TheGoodFramework
	branch = integration