[submodule "MandrilAPI"]
	path = MandrilAPI
	url = https://github.com/eyagovbusiness/MandrilAPI
[submodule "TheGoodFramework"]
	path = TheGoodFramework
	url = https://github.com/eyagovbusiness/TheGoodFramework
